body {
    flex: 1;
    background-image: linear-gradient(to right, #FEFEFE, #E4CB90);
}

.left,
.right {
    height: 30vh;
    margin-top: 250px;
}

.container {
    background-color: #FCFFFD;
    margin: 20px;
    height: 600px;
    padding: 20px;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FCFFFD;
    text-align: center;
}

#prom {
    float: left;
}