        body {
            background-image: url(billy-williams-8wz1Q4Q_XAg-unsplash.jpg);
            background-size: 2000px auto;
        }
        
        .container {
            background-color: azure;
            margin: 20px;
            height: 800px;
            padding: 20px;
            width: 100%;
        }
        
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: azure;
            text-align: center;
        }
        
        #prom {
            max-width: 350px;
            max-height: 350px;
        }
        
        .txt {
            text-align: top;
            padding: 15px;
            margin: 15px;
            float: left;
            width: 275px;
        }